body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* The image used */
  background: url("./../public/bgmovie.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,.7);
  background-blend-mode: multiply;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Customize CSS */
h1 {
  color: orange;
  text-transform: uppercase;
}

#seatsBlock tr td {
  padding: 0px 1%;
}

.seat{
  border: 3px solid white;
  background: white;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.rowNumber{
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border:none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 25px;
  color: yellow;
}

.screen{
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
  width: 100%;
}

.seatSelected {
  border: 3px solid orange;

  background: orange !important;
  accent-color: #000;
  color: #000;

  cursor: no-drop !important;
  width: 45px;
  height: 35px;
}

.seatSelecting {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  accent-color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}

.btnConfirmBooking {
  color: white;
  padding: 10px;
  background-color: orange;
  font-size: 25px;
  padding: 10px;
}

/* Customize the label (the seatItem) */
.seatItem {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.seatItem input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.seatItem:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.seatItem input:checked ~ .checkmark {
  background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.seatItem input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.seatItem .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmarkSelected {
  background-color: orange;
}

.checkmarkSelecting {
  background-color: green;
}

.seatStructureSelected {
  padding: 20px 0px;
}

.seatStructureSelected h2 {
  color: white;
  text-transform: capitalize;
}

.seatStructureSelected table {
  border-collapse: collapse;
  border: 1px solid;
  color: white;
  width: 100%;
  text-align: left;
}

.seatStructureSelected table tr th,
.seatStructureSelected table tr td {
  border: 1px solid;
  padding: 5px 10px;
}

.seatStructureSelected ul {
  list-style: none;
  text-align: left;
}

.seatStructureSelected ul li {
  color: white;
  padding: 0px 35px;
  font-size: 20px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .screen {
    width: 85%;
  }
}